In [ ]:
#TASK01
def even_checker(num):
  if(num%2==0):
    print("Even!!")
  else:
    print("Odd!!")
even_checker(6)

Even!!

In [ ]:
#TASK02
def fibonacci(num):
  n1 = 0
  n2 = 1
  sum = 0
  for i in range(1,num+1):
    if (sum<num):
      print(sum,end=" ")
      n1 = n2
      n2 = sum
      sum = n1 + n2

fibonacci(10)

0

In [ ]:
#TASK03
def foo_moo(num):
  if(num%2==0 and num%3==0):
    return"FooMoo"
  elif(num%2==0) :
    return"Foo"
  elif(num%3==0):
    return "Moo"
  else:
    return "Boo"
print(foo_moo(9))

Moo

In [ ]:
#TASK04
def upper_lower_checker(sentence):
  upper = 0
  lower = 0
  for i in sentence:
    if 65<=ord(i)<=90:
      upper+=1
    elif 97<=ord(i)<=122:
      lower+=1
  print("No. of Uppercase characters:",upper)
  print("No. of Lowercase Characters:",lower)
upper_lower_checker('HaRRy PotteR')

No. of Uppercase characters: 5
No. of Lowercase Characters: 6

In [ ]:
#TASK05
def tax_value(Age,Salary,Job):
  tax = 0
  if((Age<18) or (Salary<10000) or (Job.lower()=="president")):
    return 0
  elif(10000<=Salary<=20000):
    return Salary*0.05
  elif(Salary>20000):
    return Salary*0.1

tax = tax_value(Age = int(input("How much money do you make? ")),Salary = int(input("How much money do you make? ")),Job = input("What's your designation? "))
print(tax)

What is your age? 53
How much money do you make? 31425
What's your designation? presidenT
0

In [ ]:
#TASK06
def Year_calc(totaldays):
  year = totaldays//365
  rem_days = totaldays%365
  month = rem_days//30
  day = rem_days%30
  print(f"{year} years, {month} months and {day} days")
Year_calc(totaldays = int(input()))

In [ ]:
#TASK07
def show_palindrome(num):
  answer =" "
  for i in range(1,num*2):
    if i<= num:
      answer+= str(i)
    else:
      answer+= str((num*2)-i)
  return answer
print(show_palindrome(5))

 123454321

In [ ]:
#TASK07 ALTER
def show_pal(num):
  s=""
  for i in range(1,num+1):
    s+=str(i)
  return s+s[-2::-1]
print(show_pal(5))

123454321

In [ ]:
#TASK08
def showPalindromicTriangle(number):
    for height in range(1,num+1):
        for space in range(0,num-height):
            print(' ',end=' ')
        for i in range(1,height+1):
            print(i ,end=' ')
        for j in range(height-1,0,-1):
            print(j, end=' ')
        print()
num=int(input('Enter the limit: '))
showPalindromicTriangle(num)

Enter the limit: 5
        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [ ]:
#TASK8 ALTER
def show_pl_tri(height):
  for i in range(1,height+1):
    print(" "*(height-i),end=" ")
    print(show_palindrome(i))
show_pl_tri(5)

      1
     121
    12321
   1234321
  123454321

In [ ]:
#TASK09
import math
usr_input=float(input('Enter the radius: '))
list1=[]

def area_circumference_generator(radius):
    area=math.pi*(usr_input**2)
    list1.append(area)
    circumference=2*math.pi*usr_input
    list1.append(circumference)
    a_tuple=tuple(list1)
    a,b=a_tuple
    print('Area of the circle is', a,' and circumference is ',b)
    return area,circumference
print(area_circumference_generator(usr_input))

Enter the radius: 1
Area of the circle is 3.141592653589793  and circumference is  6.283185307179586
(3.141592653589793, 6.283185307179586)

In [ ]:
#TASK10
list1=[]
num1=int(input('Enter starting number: '))
list1.append(num1)
num2=int(input('Enter ending number: '))
list1.append(num2)
a_dict={}

a_tuple=tuple(list1)
a,b=a_tuple
def makeSquare(starting,ending):
    for i in range(num1,num2+1):
        a=i*i
        a_dict[i]=a
    return a_dict
print(makeSquare(num1,num2))

Enter starting number: 1
Enter ending number: 3
{1: 1, 2: 4, 3: 9}

In [ ]:
#TASK10 ALter
def make_square(tup):
  f_dict = {}
  for i in range(tup[0],tup[1]+1):
    f_dict[i]=i**2
  return f_dict
print(make_square((1,3)))

{1: 1, 2: 4, 3: 9}

In [ ]:
#TASK11
x=("Hi", 1, 2, 3, 3, "Hi",'a', 'a', [1,2])
def remDuplicate(x):
    unique_list=[]
    for item in x:
        if item not in unique_list:
            unique_list.append(item)
        else:
            continue

    a=unique_list
    a_tuple=tuple(a)
    return a_tuple
print(remDuplicate(x))

('Hi', 1, 2, 3, 'a', [1, 2])

In [ ]:
#TASK12
x=[1, 2, 3, 3, 3, 3, 4, 5, 8, 8]
list1=[]

def mixedlist(lst):
    counter=0
    for item in x:
        if list1.count(item)<2:
            list1.append(item)
        else:
            counter+=1
    print('Removed: ',counter)
    return list1
print(mixedlist(list1))

Removed:  2
[1, 2, 3, 3, 4, 5, 8, 8]

In [ ]:
#TASK13
def numfuction(opt,num1,num2):
    if opt =='+':
        x=num1+num2
        return x
    elif opt=='-':
        x=num1-num2
        return x
    elif opt=='*':
        x=num1*num2
        return x
    elif opt=='/':
        x=num1/num2
        return x
opt=input('Enter oparetor: ')
num1=float(input('Enter 1st number: '))
num2=float(input('Enter 2nd number: '))

print(numfuction(opt,num1,num2))

Enter oparetor: +
Enter 1st number: 10
Enter 2nd number: 20
30.0

In [ ]:
#TASK14
def cuttingcharacters(sentence,position):
    temp=''
    counter=''
    for p in range(0,len(sentence)):
        if p!=0 and p%position==0:
            temp+=sentence[p]
        else:
            counter+=sentence[p]

    return counter+temp
sentence=str(input('Enter sentence: '))
position=int(input('Enter position: '))
print(cuttingcharacters(sentence,position))

Enter sentence: I love programming
Enter position: 3
I lveprgrmmngo oai

In [ ]:
#TASK15
def grocery_store(food, destination="Dhanmondi"):
    price = {"Rice": 105, "Potato": 20, "Chicken": 250, "Beef": 510, "Oil": 85}
    total = 0
    for item in food:
        total += price[item]
    if destination == "Dhanmondi":
        total += 30
    else:
        total += 70
    return total


food = [item for item in input()[1:-1].replace('"', "").replace(" ", "").split(",")]


# Function Call
print(grocery_store(food))

["Rice", "Beef", "Rice"]
750

In [ ]:
#TASK16
amount=int(input('Enter the amount: '))
def splittingMoney(money):
    note=''
    fivehundrd = amount // 500
    note1='500 Taka:'
    note1+= str(fivehundrd)
    note1+=str('note(s)\n')
    temp0 = amount % 500
    hundrd = temp0 // 100
    note2 ='100 Taka:'
    note2 += str(hundrd)
    note2 += str('note(s)\n')
    temp1 = temp0 % 100
    fifty = temp1 // 50
    note3 = '50 Taka:'
    note3 += str(fifty)
    note3 += str('note(s)\n')
    temp2 = temp1 % 50
    twenty = temp2 // 20
    note4 = '20 Taka:'
    note4 += str(twenty)
    note4 += str('note(s)\n')
    temp3 = temp2 % 20
    ten = temp3 // 10
    note5 = '10 Taka:'
    note5 += str(ten)
    note5 += str('note(s)\n')
    temp4 = temp3 % 10
    five = temp4 // 5
    note6 = '5 Taka:'
    note6 += str(five)
    note6 += str('note(s)\n')
    temp5 = temp4 % 5
    two = temp5 // 2
    note7 = '2 Taka:'
    note7 += str(two)
    note7 += str('note(s)\n')
    temp6 = temp5 % 2
    one = temp6 // 1
    note8 = '1 Taka:'
    note8 += str(one)
    note8 += str('note(s)\n')
    if fivehundrd != 0:
        note = note + note1
    if hundrd != 0: #100
        note = note  + note2
    if fifty != 0:
        note = note +  note3
    if twenty != 0:
        note = note + note4
    if ten != 0:
        note = note + note5
    if five != 0:
        note = note +  note6
    if two != 0:
        note = note +  note7
    if one != 0:
        note = note + note8

    return note
print(splittingMoney(amount))

In [ ]:
#TASK17
i=int(input('Enter element no: '))
list=[]
counter=0
while counter<i:
    num=int(input('Enter element: '))
    list.append(num)
    counter+=1

even_list=[]
def  removeOdd(even):
    for num in list:

        if int(num)%2==0:
            even_list.append(num)
        else:
            continue
    return even_list
print(removeOdd(even_list))

In [ ]:
#TASK18
def division(starting,ending,first_divisor,second_divisor):
    sum=0
    for i in range(starting,ending):
        if i%first_divisor==0 and i%second_divisor==0:
            continue
        elif i%first_divisor==0:
            sum=sum+i
        elif i % second_divisor == 0:
            sum = sum + i
    return sum
starting=int(input())
ending=int(input())
first_divisor=int(input())
second_divisor=int(input())

print(division(starting,ending,first_divisor,second_divisor))

10
40
4
7
210

In [ ]:
#TASK19
def stringTest(name):
    counter=0
    for char in usr_input:
        if char in list:
            counter+=1

    if counter>0:
        return 5
    else:
        return 6

usr_input=str(input())

list=['a','b','c','d','e','f','g','h','i','j']
stringTest(usr_input)
print('MANCHESTER CITY is the best club in England \n'*stringTest(usr_input))

In [ ]:
#TASK20
def footballClub(*args):

    if args[2]>30:
        bonus= args[2]*(args[3]/100 * args[1])+10000
        return bonus
    elif 20<args[2]<=30:
        bonus= args[2]*(args[3]/100 * args[1])+5000
        return bonus
    else:
        bonus= args[2]*(args[3]/100 * args[1])
        return bonus
print('Neymar earned a bonus of',int(footballClub('Neymar',1200000, 30, 10)),'Taka for 31 Goals')