In [ ]:
#TASK01
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))
print(a_tuple[3][3])

400

In [ ]:
#TASK02
tpl = (-10, 20, 25, 30, 40)
lenth = len(tpl)
print(tpl[2:lenth-2])

(25,)

In [ ]:
#TASK03
book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)
lenth = len(book_info)
print("Size of the tuple is:",lenth)
for i in range(lenth):
  print(book_info[i])

Size of the tuple is: 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

In [ ]:
#TASK04
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)
for i in book_info:
  genre,title,votes = i
  print(f"{title} won the '{genre}' category with {votes} votes")

The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes
The Institute won the 'Best Horror' category with 75717 votes
The five won the 'Best History & Biography' category with 31783 votes
The Testaments won the 'Best Fiction' category with 98291 votes

In [ ]:
#TASK05
Given_tuple = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
Num = int(input())
counter = 0
for i in Given_tuple:
  if i == Num:
    counter+=1
  else:
    pass
print(Num,"appears",counter,"times in the tuple")

10
10 appears 3 times in the tuple

In [ ]:
#TASK06
given_tuple = (10, 20, 30, 40, 50, 60)
lst = []
rev_lst = []
for  i in given_tuple:
  lst.append(i)
lenth = len(lst)
for i in range(lenth-1,-1,-1):
  rev_lst.append(lst[i])
print(tuple(rev_lst))

(60, 50, 40, 30, 20, 10)

In [ ]:
#TASK07
D1 = {'Harry':15, 'Draco':8, 'Nevil':19}
D2 = {'Ginie':18, 'Luna': 14}
D3 = D1.copy()
D3.update(D2)
print(D3)
print(D1)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}
{'Harry': 15, 'Draco': 8, 'Nevil': 19}

In [ ]:
#TASK07 Alter
D1 = {'Harry':15, 'Draco':8, 'Nevil':19}
D2 = {'Ginie':18, 'Luna': 14}
marks = {}
for k,v in D1.items():
  marks[k] = D1[k]
for k,v in D2.items():
  marks[k] = D2[k]
print(marks)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

In [ ]:
#TASK08
Inp = input()
Inp = Inp[1:-1]
lst = Inp.split(",")
d1 = {}
sum = 0
counter=0
for i in lst:
  k,v= i.split(":")
  d1[k] = v
for value in d1:
  sum+= int(d1[value])
  counter+=1
print(sum//counter)

{'Jon': 100, 'Dan': 200, 'Rob':300}
200

In [ ]:
#TASK09
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
num = int(input())
chosen = exam_marks.copy()
for value in exam_marks:
  if exam_marks[value]<num:
    chosen.pop(value)
  else:
    pass
print(chosen)

170
{'Cierra Vega': 175, 'Alden Cantrell': 200, 'Pierre Cox': 190}

In [ ]:
#TASK10
given = {'sci fi': 5, 'mystery': 3, 'horror': 14, 'young_adult': 2, 'adventure':9}
max = 0
for values in given:
  if given[values]>max:
    max = given[values]
    genre = values
  else:
    pass
print(f"The highest selling book genre is '{genre}' and the number of books sold are {max}.")

The highest selling book genre is 'horror' and the number of books sold are 14.

In [ ]:
#TASK11
sentence = "Python programming is fun".lower()
d1={}
for i in sentence:
  if i != " ":
    if i in d1:
      d1[i] += 1
    else:
      d1[i] = 1
  else:
    pass

print(d1)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [ ]:
#TASK12
dict_1 = {'A': [1, 2, 3,9], 'b': ['1', '2'], "c": [4, 5, 6, 7,9,10,11,100]}
counter=0
for value in dict_1:
  for lst in dict_1[value]:
    counter+=1
print(counter)

14

In [ ]:
#TASK13
list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
lst_A = []
lst_B = []
Dict1 ={}
lenth = len(list_1)
for i in range(lenth):
  lst_A.append(list_1[i][0])
  for j in range(lenth):
    if lst_A[0] == list_1[j][0]:
      lst_B.append(list_1[j][1])
  Dict1.update({lst_A[0]:lst_B})
  lst_A = []
  lst_B = []
print(Dict1)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [ ]:
dict1 = {'a':59 , 'b':-82 , 'c':5 , 'd':-81 , 'e':53}
for i in dict1:
    j = 0
    k = 22
    while j < 5:
        if j % 2 == 0:
            k = dict1[i] + j - (8 + k % 6) / 3
            print("k =",k)
            dict1[i] = dict1[i]+ int(k)
            print("dict1 = ",i," dict1[i] = ",dict1[i] )
        else:
            k = dict1[i] + j - (6 - k % 8) * 3
            print("k =",k)
            dict1[i] = dict1[i] - int(k)
            print("dict1 = ",i," dict1[i] = ",dict1[i] )
        j += 1
        print("j =",j)
    print(int(k))
    print(i + " -> " + str(dict1[i]))

k = 55.0
dict1 =  a  dict1[i] =  114
j = 1
k = 118.0
dict1 =  a  dict1[i] =  -4
j = 2
k = -6.0
dict1 =  a  dict1[i] =  -10
j = 3
k = -19.0
dict1 =  a  dict1[i] =  9
j = 4
k = 8.666666666666668
dict1 =  a  dict1[i] =  17
j = 5
8
a -> 17
k = -86.0
dict1 =  b  dict1[i] =  -168
j = 1
k = -179.0
dict1 =  b  dict1[i] =  11
j = 2
k = 10.0
dict1 =  b  dict1[i] =  21
j = 3
k = 12.0
dict1 =  b  dict1[i] =  9
j = 4
k = 10.333333333333334
dict1 =  b  dict1[i] =  19
j = 5
10
b -> 19
k = 1.0
dict1 =  c  dict1[i] =  6
j = 1
k = -8.0
dict1 =  c  dict1[i] =  14
j = 2
k = 12.0
dict1 =  c  dict1[i] =  26
j = 3
k = 23.0
dict1 =  c  dict1[i] =  3
j = 4
k = 2.666666666666667
dict1 =  c  dict1[i] =  5
j = 5
2
c -> 5
k = -85.0
dict1 =  d  dict1[i] =  -166
j = 1
k = -174.0
dict1 =  d  dict1[i] =  8
j = 2
k = 7.333333333333334
dict1 =  d  dict1[i] =  15
j = 3
k = 22.0
dict1 =  d  dict1[i] =  -7
j = 4
k = -7.0
dict1 =  d  dict1[i] =  -14
j = 5
-7
d -> -14
k = 49.0
dict1 =  e  dict1[i] =  102
j = 1
k = 88.0
dict1 =  e  dict1[i] =  14
j = 2
k = 12.0
dict1 =  e  dict1[i] =  26
j = 3
k = 23.0
dict1 =  e  dict1[i] =  3
j = 4
k = 2.666666666666667
dict1 =  e  dict1[i] =  5
j = 5
2
e -> 5

In [ ]:
8+2-(8+ -8% 8) / 3

7.333333333333334