In [ ]:
#TASK 01
Num_1 = int(input())
Num_2 = int(input())
print("Sum =",Num_1 + Num_2)
print("Product =",Num_1 * Num_2)
print("Difference =",Num_1 - Num_2)

5
4
Sum = 9
Product = 20
Difference = 1

In [ ]:
#TASK 02
import math
Radius = float(input())
Area = math.pi*Radius**2
Circumference = 2*math.pi*Radius
print("Area is",Area)
print("Circumference is",Circumference)

7.9
Area is 196.066797510539
Circumference is 49.637163926718735

In [ ]:
#TASK 03
Num1 = int(input())
Num2 = int(input())
if(Num1>Num2):
  print("First is greater")
elif(Num1<Num2):
  print("Second is greater")
else:
  print("The numbers are equal")

2
4
Second is greater

In [ ]:
#TASK 04
Num1 = int(input())
Num2 = int(input())
if(Num1>Num2):
  print(Num1-Num2)
else:
  print(Num2-Num1)

In [ ]:
#TASK 05
Num = int(input())
OE = Num%2 == 0
if(OE) :
  print("The Number is Even")
else:
  print("The number is Odd")

7
The number is Odd

In [ ]:
#TASK 06
Num = int(input())
Two = Num%2 == 0
Five = Num%5 == 0
if(Two or Five):
  print(Num)
else:
  print("Not a multiple of 2 OR 5")

5
5

In [ ]:
#TASK 07
Num = int(input())
Two = Num%2 == 0
Five = Num%5 == 0
if(Two and Five):
  print("Multiple of 2 and 5 both")
elif(Two or Five):
  print(Num)
else:
  print("Not a multiple we want")

10
Multiple of 2 and 5 both

In [ ]:
#TASK 08
Num = int(input())
Two = Num%2 == 0
Five = Num%5 == 0
if(Two and Five):
  print(Num)
elif(Two or Five):
  print("Not multiple of 2 and 5 both")

In [ ]:
#TASK 09
Time = int(input())
Hour = Time//3600
Rem_Sec = Time%3600
Min = Rem_Sec//60
Sec = Rem_Sec%60
print("Hours:",Hour,"Minutes:",Min,"Seconds:",Sec)

10000
Hours: 2 Minutes: 46 Seconds: 40

In [ ]:
#TASK 10
Hour = int(input())
Under40 = 0<=Hour<=40
Over40 =168>=Hour>40
Invalid = Hour>168
Neg =0>Hour
if(Under40):
  print(Hour*200)
elif(Over40):
  print(8000+(Hour-40)*300)
elif(Invalid):
  print("Impossible to work more than 168 hours weekly")
elif(Neg):
  print("Hour cannot be negative")

56
12800

In [ ]:
#TASK 11
S = int(input())
Con1 = S<100
Con2 = S>=100
L = 3000-125*S**2
L2 = 12000/(4+S**2/14900)
if(Con1):
  print(L)
elif(Con2):
  print(L2)

112
2478.3765801729874

In [ ]:
#TASK 12
Time = int(input())
if(4<=Time<=6):
  print("Breakfast")
elif(Time==12 or Time==13):
  print("Lunch")
elif(Time==16 or Time==17):
  print("Snacks")
elif(Time==19 or Time==20):
  print("Dinner")
elif(Time>23 or 0>Time):
  print("Wrong Time")
else:
  print("Patience is a virtue")

-7
Wrong Time

In [ ]:
#TASK 13
Grade = int(input())
A = 90<=Grade<=100
B = 80<=Grade<=89
C = 70<=Grade<=79
D = 60<=Grade<=69
E = 50<=Grade<=59
F = 0<=Grade<50
I = Grade>100 or Grade<0
if(A):
  print("A")
elif(B):
  print("B")
elif(C):
  print("C")
elif(D):
  print("D")
elif(E):
  print("E")
elif(F):
  print("F")
elif(I):
  print("Invalid Number")

In [ ]:
#TASK14
Distance = int(input())
Time = int(input())
Distance1 = Distance/1000
Time1 = Time/3600
Velocity = Distance1/Time1
if(0<=Velocity<60):
  print(Velocity,"Km/h")
  print("Too slow. Needs more changes.")
elif(60<=Velocity<=90):
  print(Velocity,"Km/h")
  print("Velocity is okay. The car is ready!")
elif(Velocity>90):
  print(Velocity,"Km/h")
  print("Too fast. Only a few changes should suffice.")

In [ ]:
#TASK 15
CGPA = float(input())
Credit = int(input())
CGPA4 = CGPA==4.00
CGPA3_99 = 3.95<=CGPA<=3.99
CGPA3_9 = 3.90<=CGPA<=3.94
CGPA3_8 = 3.80<=CGPA<=3.89
Cred = Credit>=30
CGPA3_7 = CGPA<3.80
Non_Cred = 0<=Credit<30
Non_wai = CGPA4 or CGPA3_99 or CGPA3_9 or CGPA3_8 or CGPA3_7 and Non_Cred
Non_wai2 = CGPA3_7 and Cred

if(CGPA4 and Cred):
  print("The student is eligible for a waiver of 100 percent")
elif(CGPA3_99 and Cred):
  print("The student is eligible for a waiver of 75 percent")
elif(CGPA3_9 and Cred):
  print("The student is eligible for a waiver of 50 percent")
elif(CGPA3_8 and Cred):
  print("The student is eligible for a waiver of 25 percent")
elif(Non_wai or Non_wai2):
  print("The student is not eligible for a waiver")

3.89
25
The student is not eligible for a waiver

In [ ]:
#TASK 20
Num = int(input())
Two = Num%2
Five = Num%5
if(Two==0 or Five==0):
  print("No")
else:
  print(Num)

In [ ]:
#TASK 21
Num = int(input())
Two = Num%2
Five = Num%5
if(Two==0 and Five==0):
  print("NO")
else:
  print(Num)

In [ ]:
#TASK 22
Num1 = int(input())
Num2 = int(input())
Canvas = Num1*120
Color = Num2*75
Total = Canvas + Color

if(0<=Total<=299):
  print("Previous total: ",Total)
  print("New total after discount: ",Total)
elif(300<=Total<=499):
   print("Previous total: ",Total)
   print("New total after discount: ",Total-10)
elif(500<=Total<=749):
  print("Previous total: ",Total)
  print("New total after discount: ",Total-20)
elif(750<=Total<=999):
  print("Previous total: ",Total)
  print("New total after discount: ",Total-50)
elif(Total>=1000):
  print("Previous total: ",Total)
  print("New total after discount: ",Total-150)

In [ ]:
#TASK 23
Farenheite = int(input())
Celcius = (Farenheite-32)*.56
if(Celcius<20):
  print(Celcius,"degrees C")
  print("Winter")
elif(20<=Celcius<=25):
  print(Celcius,"degrees C")
  print("Autumn")
elif(25<Celcius<30):
  print(Celcius,"degrees C")
  print("Spring")
elif(Celcius>=30):
  print(Celcius,"degrees C")
  print("Summer")

In [ ]:



print(result2)
print(result3)
print(result4)
print(result5)
print(result6)
print(result7)
print(result8)
print(result9)
print(result10)

False
False
True
False
False
True
False
False
False
True

In [ ]:
var1 = var2 = var3 = var4 = var5 = var6 = False
result1 = result2 = result3 = result4 = result5 = result6 = False
result7 = result8 = result9 = result10 = False
var1 = (not False or False) and True
var2 = var1 and True
var3 = False and not True
var4 = True
var5 = False
var6 = var3 and True
result1 = (var1 and var2) and ( 40 % 3 > 45) or (var5 and var6)
result2 = (var1 or var2) or (result1 and False)
result3 = (var1 and result1) or result2 or var5
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or not var2) and (result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and (not var5 or var6)) and True
result9 = ((result2 and var2) or (not result7 and var1)) and not False
result10 = not (var1 and True)
print(result1)
print(result2)
print(result3)
print(result4)
print(result5)
print(result6)
print(result7)
print(result8)
print(result9)
print(result10)

False
True
True
True
True
True
False
True
True
False