In [ ]:
 #TASK 01(A)
counter = 24
while counter>=-6:
    if(counter == -6):
      print(counter, end = "")
    else:
      print(counter, end = ",")

    counter = counter - 6

24,18,12,6,0,-6

In [ ]:
num = 0
while(num<10):
  num = num+1
  print(num,end=" ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
#TASK 01(A)
counter = -6
while counter<=24:
    if(counter == 24):
      print(counter, end = "")
    else:
      print(counter, end = ",")

    counter = counter + 6

-6,0,6,12,18,24

In [ ]:
#TASK 01(B)
counter = -10
while (counter<=20):
    if(counter == 20):
      print(counter, end= "")
    else:
      print(counter, end = ",")

    counter += 5

-10,-5,0,5,10,15,20

In [ ]:
#TASK 01(C)
counter = 18
while(counter<=63):
  if(counter == 63):
    print(counter, end="")
  else:
    print(counter, end=",")

  counter +=9

18,27,36,45,54,63

In [ ]:
#TASK 01(D)
counter = 18
while(counter<=63):
  if(counter%2 != 0):
    if(counter == 63):
      print(counter*(-1),end="")
    else:
      print(counter*(-1),end="," )
  else:
     print(counter,end="," )

  counter +=9

18,-27,36,-45,54,-63

In [ ]:
#TASK 02
Car = input("please enter the name of the car ")
Num = int(input("please enter the number "))

counter = 1
while(counter<=Num):
  print(Car)
  counter+=1

please enter the name of the car Veron
please enter the number 5
Veron
Veron
Veron
Veron
Veron

In [ ]:
#TASK 03
counter = 63
sum = 0
while(counter<=600):
  if(counter % 7 == 0 and counter % 9 == 0):
    sum = sum+counter
  counter+=1
print(sum)

2835

In [ ]:
#TASK 04
counter = 7
sum = 0
while(counter<=600):
  if((counter % 7 == 0 or counter % 9 == 0) and (counter % 63 != 0)):
    sum = sum+counter
  counter+=1
print(sum)

39814

In [ ]:
#TASK 05
counter = 11
while(10<counter<50):
  if(counter%2 !=0):
    print(counter,end =" ")
  counter += 1

11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [ ]:
#TASK 06
num = int(input())
sum = 0
for i in range(1,num+1,1):
  if(i%2 != 0):
    sum += i**2
  else:
    sum += (i**2)*(-1)
print("Y=",sum)

5
Y= 15

In [ ]:
#TASK 07
Odd_Num = 0
counter = 1
Odd_count = 0
while(counter<=10):
  Num = int(input())
  if(Num%2 != 0):
    Odd_Num += Num
    Odd_count +=1
  counter +=1
print(Odd_Num)
print(Odd_Num/Odd_count)

1
2
3
4
5
6
7
8
9
10
25
5.0

In [ ]:
#TASK 08
Num = int(input())
sum = 0
for i in range(0,Num):
  if(i%7 == 0):
    sum += i
print(sum)

50
196

In [ ]:
#TASK 09
sum = 0
for i in range(0,5):
  num = int(input())
  sum += num
  print(sum)

1
1
2
3
3
6
4
10
5
15

In [ ]:
#TASK 10
num = int(input())

while(num!=0):
  Rev = num%10
  num = num//10
  if(num == 0):
    print(Rev, end ="")
  else:
    print(Rev,end =",")

6875438
8,3,4,5,7,8,6

In [ ]:
#TASK 11
num = int(input())
counter = 0
while(num != 0):
  num = num//10
  counter+=1
print(counter)

In [ ]:
#TASK 12
num = int(input())
Dup_num = num
counter = 0
i =1
while(num != 0):
  num = num//10
  counter+=1
while(i != 0):
  pow = 10**(counter-1)
  Digit = Dup_num//pow
  Dup_num = Dup_num%pow
  counter -=1
  i = pow//10
  if(i == 0):
    print(Digit,end =" ")
  else:
     print(Digit,end =",")

1234
1,2,3,4

In [ ]:


#TASK 13
Num = int(input())
counter = 0
for i in range(1,Num+1):
  if( Num%i == 0):
    counter +=1
    print(i, end = " ")

print()
print(Num,"has total",counter,"divisors")

In [ ]:
#TASK 14
Num = int(input())
dup_num = 0
for i in range(1,Num+1):
  if( Num%i == 0):
    dup_num +=i
if(dup_num-Num == Num):
  print(Num," is a perfect number")
else:
  print(Num,"is not a perfect number")

8
8 is not a perfect number

In [ ]:
#TASK 15
Num = int(input())
counter = 0
for i in range(1,Num+1):
  if( Num%i == 0):
    counter +=1
if (counter == 2):
  print(Num,"is a prime a number")
else:
  print(Num,"is not a prime number")

6
6 is not a prime number

In [ ]:
#TASK 16
num = int(input())
sum = 0
for i in range(1,num+1):
  CNum = int(input())
  if (i == 1):
    Max = CNum
    Min = CNum
  else:
    if(CNum>Max):
      Max = CNum
    elif(CNum<Min):
      Min = CNum
  sum +=CNum
print("MAXIMUM = ",Max)
print("MINIMUM = ",Min)
print("AVERAGE = ",sum/num)

5
7
-9
34
6
7
MAXIMUM =  34
MINIMUM =  -9
AVERAGE =  9.0

In [ ]:
#TASK 17
Num = int(input())
for i in range(1,Num+1):
  for j in range(1,Num+1):
    print("+",end = " ")
  print()

In [ ]:
#TASK 18
Row = int(input())
Col = int(input())
for i in range(1,Row+1):
  for j in range(1,Col+1):
    print(j,end = "")
  print()

4
6
123456
123456
123456
123456

In [ ]:
#TASK 19
height = int(input())
for i in range(1,height+1):
  for j in range(1,i+1):
    print(j,end="")
  print()

4
1
12
123
1234

In [ ]:
#TASK 25
Num = int(input())
n1 = 0
n2 = 1
sum = 0
for i in range(1,Num+1):
  if (sum<Num):
    print(sum,end=" ")
    n1 = n2
    n2 = sum
    sum = n1 + n2

10
0 1 1 2 3 5 8

In [ ]:
#TASK 26
Num = int(input())
Pack = 1
Binary = 0
while(Num>0):
  Binary += (Num%2)*Pack
  Num = Num//2
  Pack = Pack*10
print(Binary,end="")

5
101

In [ ]:
#TASK 27
Num = int(input())
Dec = 0
i = 0
while(Num>0):
  Mod = Num%10
  Exp = Mod*(2**i)
  Dec = Dec + Exp
  Num = Num//10
  i +=1
print(Dec)

101
5

In [ ]:
#TASK 28
#PRIME CALC
Num1 = int(input())
Num2 = int(input())
counter = 0
dup_num = 0
Perfect_num = 0
print("Between",Num1,"and",Num2)
print("prime numbers :",end = "")
for i in range(Num1,Num2+1):
  if(i%2 != 0):
    counter+=1
    print(i,end=" ")
print()
print("There are",counter,"prime numbers")
#Perfect calc
result = 0
print("Perfect numbers : ",end = "")
for num in range(Num1,Num2+1):
  result = 0
  for i in range(1,num):
    if(num%i)==0:
      result = result+i

  if num == result:
     Perfect_num +=1
     print(num,end=" ")
print()
print("Found",Perfect_num,"perfect number")

2
8
Between 2 and 8
prime numbers :3 5 7
There are 3 prime numbers
Perfect numbers : 6
Found 1 perfect number

In [ ]:
#TASK 29
Num1 = int(input())
Num2 = int(input())
Num3 = int(input())
for i in range(Num1,Num2+1):
  Num1[0]*Num1

In [ ]:
season = "fall"
print("The season is",season,"and it is cold")

The season is fall and it is cold

In [ ]:
x = 0
p =0
sum = 0
p = 1
x = 2
q = None
sum = 0
while p < 12:
    q = x + p - (sum + 7 / 3) / 3.0 % 2
    print("q = ",q)
    sum = sum + x + int(q)
    x += 1
    print(sum)
    print("x = ",x)
    if x > 5:
        p += 4 / 2
        print("p = ",p)
    else:
        p += (3 % 1)
        print("p = ",p)
sum = int(sum + p)
print(sum)

q =  2.2222222222222223
4
x =  3
p =  1
q =  3.888888888888889
10
x =  4
p =  1
q =  4.888888888888888
18
x =  5
p =  1
q =  5.222222222222222
28
x =  6
p =  3.0
q =  8.88888888888889
42
x =  7
p =  5.0
q =  11.222222222222221
60
x =  8
p =  7.0
q =  14.222222222222221
82
x =  9
p =  9.0
q =  17.88888888888889
108
x =  10
p =  11.0
q =  20.22222222222222
138
x =  11
p =  13.0
151

In [ ]:
x = 0
p = 0
sum = 0
p = 1
x = 2
q = 0.0
sum = 0
while (p < 10) :
  q = x + p - (sum + int(5 / 3)) / 3.0 % 2
  sum = sum + x + int(q)
  x += 1
  print("q = ",q)
  print("x = ",x)
  print(sum)
  if (x > 5) :
    p += int(4 / 2)
    print("p = ",p)
  else :
    p += 3 % 1
    print("p = ",p)
sum = sum + p
print(sum)

q =  2.6666666666666665
x =  3
4
p =  1
q =  2.333333333333333
x =  4
9
p =  1
q =  3.6666666666666665
x =  5
16
p =  1
q =  4.333333333333333
x =  6
25
p =  3
q =  8.333333333333334
x =  7
39
p =  5
q =  10.666666666666666
x =  8
56
p =  7
q =  14.0
x =  9
78
p =  9
q =  17.666666666666668
x =  10
104
p =  11
115

In [ ]:
x = y = 0
sum = 0
while (x < 10):
  y = x - 3
  print("y =",y)
  while (y < 3):
    sum = x - y * 2
    print(sum)
    y = y + 1
    print("y =",y)
  if (x > 7):
    x += 1
    print("x =",x)
  else:
    x += 3
    print("x =",x)
sum = x - y * 2
print(sum)

y = -3
6
y = -2
4
y = -1
2
y = 0
0
y = 1
-2
y = 2
-4
y = 3
x = 3
y = 0
3
y = 1
1
y = 2
-1
y = 3
x = 6
y = 3
x = 9
y = 6
x = 10
-2

In [ ]:
x = 0
y = 0
sum = 0
p = 0.0
while (x < 10):
    y = x // 2
    print("y = ",y)
    while (y < x):
        p = (x + 10.0) / 2
        sum = (sum % 2) + x - y * 2 + int(p)
        print("p = ",p)
        print("sum = ",sum)
        y = y + 2
        print("y = ",y)
    if (x > 5):
        x += 1
        print("x = ",x)
    else:
        x += 2
        print("x = ",x)

y =  0
x =  2
y =  1
p =  6.0
sum =  6
y =  3
x =  4
y =  2
p =  7.0
sum =  7
y =  4
x =  6
y =  3
p =  8.0
sum =  9
y =  5
p =  8.0
sum =  5
y =  7
x =  7
y =  3
p =  8.5
sum =  10
y =  5
p =  8.5
sum =  5
y =  7
x =  8
y =  4
p =  9.0
sum =  10
y =  6
p =  9.0
sum =  5
y =  8
x =  9
y =  4
p =  9.5
sum =  11
y =  6
p =  9.5
sum =  7
y =  8
p =  9.5
sum =  3
y =  10
x =  10

In [ ]:
test = 1
j = 0
k = 100
while (k > 0):
  while ( j < k ):
    test = k + j -21
    print("test = ",test)
    print(str(1 + int (test / 2)))
    j += 10
    print("j = ",j)
  k -= 10
  print("k = ",k)
test = 1
print("test = ",test)
j = 0
print("j = ",j)
k = 100
print("k = ",k)

test =  79
40
j =  10
test =  89
45
j =  20
test =  99
50
j =  30
test =  109
55
j =  40
test =  119
60
j =  50
test =  129
65
j =  60
test =  139
70
j =  70
test =  149
75
j =  80
test =  159
80
j =  90
test =  169
85
j =  100
k =  90
k =  80
k =  70
k =  60
k =  50
k =  40
k =  30
k =  20
k =  10
k =  0
test =  1
j =  0
k =  100

In [ ]:
mylist = ["A","B","C","D"]
mylist[1]="F"
print(mylist)

['A', 'F', 'C', 'D']

In [ ]:
#PYNATIVE